/*
 Cores:
 - Picker:      https://www.materialpalette.com/ ou https://www.materialui.co/
 - Picker:      https://color.adobe.com/pt/create/color-wheel
 - Significado: http://cymbolism.com/
 Guia:
 http://www.websitebuilderexpert.com/how-to-choose-color-for-your-website/
 1. Choose a dominant color (brand color)
 2. One or Two accent colors (cores de destaque)
 3. One background color
 */
.limitWidth {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.wannaGroup {
    margin-top: 32px;
}

.wannaGroup > b {
    display: block;
    padding: 8px 16px;
    font-size: 18px;
    border-bottom: 1px solid #dbdbdb;
    background: linear-gradient(to bottom, #fff, #e3ded9 100%);
}

.wannaGroup .subGroups {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dbdbdb;
    border-top: 0;
}

.wannaGroup .subGroups .group {
    border-top: 1px solid #dbdbdb;
    width: 50%;
    flex-basis: 50%;
    flex-grow: 1;
}

@media (max-width: 750px) {
    .wannaGroup .subGroups .group {
        width: 100%;
        flex-basis: 100%;
    }
}

.wannaGroup .subGroups .group:nth-of-type(2n - 1) {
    border-right: 1px solid #dbdbdb;
}

.wannaGroup .subGroups .group:nth-of-type(1), .wannaGroup .subGroups .group:nth-of-type(2) {
    border-top: 0;
}

.wannaGroup .subGroups .group .groupType {
    padding: 8px 16px;
    font-weight: bold;
    background: #eee;
}

.wannaGroup .subGroups .group .groupDefault .separator {
    padding: 4px 16px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
}

.wannaGroup .subGroups .group .groupDefault .row {
    width: 100%;
    padding: 8px;
    display: flex;
}

.wannaGroup .subGroups .group .groupDefault .row .middle {
    padding-left: 8px;
    flex-grow: 1;
}

.wannaGroup .subGroups .group .groupDefault .row .middle small {
    display: block;
    font-weight: bold;
}

.wannaGroup .subGroups .group .groupDefault .row .left {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f00;
}

.wannaGroup .subGroups .group .groupDefault .row .left.addBtn {
    color: #61c56f;
}

.wannaGroup .subGroups .group .groupDefault .row.main {
    border-bottom: 1px solid #dbdbdb;
}

.wannaGroup .subGroups .group .groupDefault .row:last-of-type {
    border-bottom: 0;
}

.wannaGroup .subGroups .group .groupDefault .row:hover {
    background: #f9f9f9;
}

.wannaGroup .subGroups .group .groupDefault .addInteresse .middle {
    flex-grow: 0;
}

.wannaGroup .subGroups .group .groupDefault .addInteresse .middle input {
    font-size: 16px;
    padding: 2px 4px;
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 100%;
}

.wannaGroup .subGroups .group .groupDefault .addInteresse .right {
    margin-left: 16px;
    align-self: flex-end;
}

.wannaGroup .subGroups .group .groupDefault .addInteresse .right button {
    background: #61c56f;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 4px 8px;
    transition: 0.1s;
    white-space: nowrap;
}

.wannaGroup .subGroups .group .groupDefault .addInteresse .right button:disabled {
    background: #ddd;
    color: #000;
}

@media (max-width: 750px) {
    .wannaGroup .subGroups .group .groupDefault .addInteresse .right button {
        font-size: 14px;
    }
}

.wannaGroup .subGroups .group .groupDefault .main {
    border-bottom: 1px solid #dbdbdb !important;
}

.wannaGroup .subGroups .groupRegioes {
    width: 100%;
}

.wannaGroup .subGroups .groupRegioes .twoColumns {
    display: flex;
    flex-wrap: wrap;
}

.wannaGroup .subGroups .groupRegioes .twoColumns .column {
    flex-grow: 1;
}

.wannaGroup .trocarDisclaimer {
    padding: 16px;
    border: 1px solid #dbdbdb;
    border-top: 0;
}

/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22meus-interesses.scss%22%2C%22C%3A%5C%2Fxampp32%5C%2Fhtdocs%5C%2Fconectasementes%5C%2Fapp%5C%2Fcss%5C%2F_base.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAD%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BGAAA%3BACoCC%3BAAAA%3B%3BqBAAA%3BAAAA%3BADlCA%3BAAAA%2CmBAAA%3BAAAA%3BAAEC%3BAAAA%3B%3B%3B%3B6DAAA%3BAAAA%3BAAOA%3BAAAA%3B%3B%3BgBAAA%3BAAAA%3BAAKC%3BAAAA%3B%3B%3BeAAA%3BAAAA%3BAAKC%3BAAAA%3BAAAA%3BqBAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%2CkCAAA%3BAAAA%3BAAGA%3BAAAA%2CgBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3BmBAAA%3BAAAA%3BAAMC%3BAAAA%3B%3B%3B%3BeAAA%3BAAAA%3BAAOA%3BAAAA%3B%3BgBAAA%3BAAAA%3BAAKC%3BAAAA%3BeAAA%3BAAAA%3BAACC%3BAAAA%3BoBAAA%3BAAAA%3BAAOD%3BAAAA%3B%3B%3B%3B%3B%3BcAAA%3BAAAA%3BAAQC%3BAAAA%2CiBAAA%3BAAAA%3BAAQD%3BAAAA%2CmCAAA%3BAAAA%3BAAIA%3BAAAA%2CmBAAA%3BAAAA%3BAAGA%3BAAAA%2CsBAAA%3BAAAA%3BAAKA%3BAAAA%2CeAAA%3BAAAA%3BAAEC%3BAAAA%3B%3B%3B%3BcAAA%3BAAAA%3BAAQD%3BAAAA%3BuBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAAQC%3BAAAA%3BcAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%2CoBAAA%3BAAAA%3BAAAA%3BAAMH%3BAAAA%2C8CAAA%3BAAAA%3BAAKF%3BAAAA%2CcAAA%3BAAAA%3BAAEC%3BAAAA%3BkBAAA%3BAAAA%3BAAGC%3BAAAA%2CeAAA%3BAAAA%3BAAMH%3BAAAA%3B%3BgBAAA%3BAAAA%22%7D */