/*
 Cores:
 - Picker:      https://www.materialpalette.com/ ou https://www.materialui.co/
 - Picker:      https://color.adobe.com/pt/create/color-wheel
 - Significado: http://cymbolism.com/
 Guia:
 http://www.websitebuilderexpert.com/how-to-choose-color-for-your-website/
 1. Choose a dominant color (brand color)
 2. One or Two accent colors (cores de destaque)
 3. One background color
 */
.limitWidth, header .desktopTop, .mainContent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#iefix-wrapper {
  display: flex;
}
#fullscreen-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
header {
  background-image: url(../images/bg-top-desktop.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  z-index: 10;
  border-bottom: 1px solid #fff;
  box-shadow: -1px 1px 10px rgba(150, 150, 150, 1);
}
@media (max-width: 750px) {
  header {
    position: fixed;
    width: 100%;
    min-height: 56px;
  }
}
header .desktopTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
@media (max-width: 750px) {
  header .desktopTop {
    display: none;
  }
}
header .desktopTop .logo img {
  width: 100%;
  max-width: 270px;
  height: auto;
}
header .desktopTop .options {
  padding-top: 48px;
  display: flex;
  align-items: center;
}
header .mobileTop {
  justify-content: space-between;
  background: #000;
  display: none;
}
@media (max-width: 750px) {
  header .mobileTop {
    display: flex;
    min-height: 56px;
  }
}
header .mobileTop .hamb {
  padding-left: 16px;
  display: flex;
  align-items: center;
}
header .mobileTop .logo {
  text-align: center;
  display: flex;
  align-items: center;
}
header .mobileTop .options {
  display: flex;
  align-items: center;
}
header .mobileTop .options a:last-of-type {
  padding-left: 16px;
  padding-right: 16px;
}
.stdPage .pageTitle {
  border-bottom: 1px solid #dbdbdb;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.stdPage .introSection {
  background: #ffc;
  padding: 16px;
}
.stdPage .introSection .btnCloseIntro {
  float: right;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: Arial;
}
.stdPage .introSection .btnCloseIntro:hover {
  color: #61c56f;
}
.roundButton {
  display: inline-block;
  padding: 4px 16px;
  font-size: 16px;
  transition: all 0.3s;
  background: #61c56f;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}
.roundButton:hover {
  background-color: #44b954;
  color: #fff;
}
.boxDestaque {
  background: #ffc;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #994;
}
.boxDestaque a {
  color: inherit;
}
.boxDestaque .roundButton {
  margin-top: 12px;
  background: #9c754e;
  color: #fff;
}
.boxDestaque .roundButton:hover {
  background: #816140;
}
.sliderSwitch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}
.sliderSwitch input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 56px;
  height: 28px;
  z-index: 10;
}
.sliderSwitch input:checked + .slider {
  background-color: #61c56f;
}
.sliderSwitch input:checked + .slider:before {
  transform: translateX(28px);
}
.sliderSwitch input:focus + .slider {
  box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.sliderSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 28px;
}
.sliderSwitch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
main {
  display: flex;
  flex-grow: 1;
}
@media (max-width: 750px) {
  main {
    padding-top: 56px;
  }
}
main > .sides {
  flex-grow: 1;
}
main > .sides:first-of-type {
  background: #ebebeb;
}
@media (max-width: 1200px) {
  main > .sides {
    display: none;
  }
}
.mainContent {
  flex-grow: 0;
  flex-basis: 1200px;
  display: flex;
}
.mainContent .leftMenu {
  background: #ebebeb;
  flex-basis: 316px;
  flex-shrink: 0;
  padding: 32px 16px;
}
@media (max-width: 750px) {
  .mainContent .leftMenu {
    width: 95%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 60px;
    padding-top: 88px;
    z-index: 8;
    box-shadow: -1px 1px 5px rgba(150, 150, 150, 1);
  }
}
@media (min-width: 750.01px) {
  .mainContent .leftMenu {
    display: block !important;
  }
}
.mainContent .leftMenu .armazem {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 48px;
  color: #333;
}
@media (max-width: 750px) {
  .mainContent .leftMenu .armazem {
    margin-bottom: 24px;
  }
}
.mainContent .leftMenu .armazem .icoHolder {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.mainContent .leftMenu .armazem .icoHolder span {
  padding-top: 6px;
  margin-left: 12px;
}
.mainContent .leftMenu .menuList {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 32px;
}
.mainContent .leftMenu .menuList > a {
  display: block;
  position: relative;
  padding: 8px;
  margin: 4px 0;
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px 8px 0 0;
  transition: 0.3s;
  border-bottom: 1px solid #dbdbdb;
}
.mainContent .leftMenu .menuList > a .right {
  position: absolute;
  display: inline-block;
  right: 16px;
  padding-top: 2px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}
.mainContent .leftMenu .menuList > a .right .arrow .fa {
  transition: 0.3s;
}
.mainContent .leftMenu .menuList > a .right .count {
  background: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s;
  opacity: 1;
}
.mainContent .leftMenu .menuList > a.toggleNext {
  margin-bottom: 0;
}
.mainContent .leftMenu .menuList > a.shown {
  background: #fff;
  color: #000;
  border-radius: 8px 8px 0 0 !important;
}
.mainContent .leftMenu .menuList > a.shown .count {
  opacity: 0;
}
.mainContent .leftMenu .menuList > a.shown .arrow .fa {
  transform: rotate(90deg);
}
.mainContent .leftMenu .menuList > a:hover {
  color: #000;
}
.mainContent .leftMenu .menuList > a:hover small {
  color: #000;
}
.mainContent .leftMenu .menuList > a.sel {
  color: #fff;
  background: #61c56f;
  border-radius: 8px;
  border-bottom: 0;
  box-shadow: -1px 1px 5px rgba(150, 150, 150, 1);
}
.mainContent .leftMenu .menuList .submenu {
  background: #fff;
  margin-bottom: 12px;
}
.mainContent .leftMenu .menuList .submenu a {
  display: block;
  position: relative;
  padding: 8px;
  text-decoration: none;
  color: #666;
  text-transform: none;
}
.mainContent .leftMenu .menuList .submenu a .right {
  position: absolute;
  display: inline-block;
  right: 16px;
  padding-top: 2px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}
.mainContent .leftMenu .menuList .submenu a .right .count {
  background: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  display: inline-block;
}
.mainContent .leftMenu .menuList .submenu a:hover {
  background: #ddd;
}
.mainContent .leftMenu .menuList .submenu a.sel {
  background: #9ddba5;
  color: #fff;
}
.mainContent .leftMenu .getHelp {
  display: flex;
  flex-direction: column;
}
.mainContent .leftMenu .getHelp .middle {
  background: #e3ded9;
  text-align: center;
  color: #808080;
  padding: 26px 8px 14px 8px;
}
@media (max-width: 750px) {
  .mainContent .leftMenu .getHelp .middle {
    padding: 8px;
  }
}
.mainContent .leftMenu .getHelp .middle b {
  display: block;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9c754e;
}
.mainContent .leftMenu .getHelp .middle span a {
  display: block;
  margin-top: 24px;
}
.mainContent .leftMenu .getHelp .roundTop {
  background: #e3ded9;
  border: 1px solid #ccc;
  height: 19px;
  border-radius: 19px 19px 0 0;
  border-bottom: 0;
}
.mainContent .leftMenu .getHelp .roundBottom {
  background: #e3ded9;
  border: 1px solid #ccc;
  height: 19px;
  border-radius: 0 0 19px 19px;
  border-top: 0;
}
.mainBody {
  padding: 32px 16px;
  flex-grow: 1;
}
@media (max-width: 750px) {
  .mainBody {
    padding: 0 0 16px 0;
  }
}
.mainBody .mobileBar {
  display: none;
}
@media (max-width: 750px) {
  .mainBody .mobileBar {
    min-height: 56px;
    padding: 4px 16px;
    background: #61c56f;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    box-shadow: -1px 1px 5px rgba(150, 150, 150, 1);
  }
}
.mainBody .barTop {
  margin-bottom: 32px;
}
@media (max-width: 750px) {
  .mainBody .barTop {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
  }
}
.mainBody .barTop .breadCrumbs {
  display: flex;
  min-height: 40px;
}
.mainBody .barTop .breadCrumbs > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #555;
  flex-basis: 33%;
  padding: 0 8px;
  text-align: center;
  background: #e0f4e3;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
.mainBody .barTop .breadCrumbs.step1 > a:nth-of-type(1) {
  color: #000;
  background-color: #fff;
  background-image: url(../images/breadcrumbs-arrow-tocolor.png);
}
.mainBody .barTop .breadCrumbs.step2 > a:nth-of-type(1) {
  background-image: url(../images/breadcrumbs-arrow-towhite.png);
}
.mainBody .barTop .breadCrumbs.step2 > a:nth-of-type(2) {
  color: #000;
  background-color: #fff;
  background-image: url(../images/breadcrumbs-arrow-tocolor.png);
}
.mainBody .barTop .breadCrumbs.step3 > a:nth-of-type(2) {
  background-image: url(../images/breadcrumbs-arrow-towhite.png);
}
.mainBody .barTop .breadCrumbs.step3 > a:nth-of-type(3) {
  color: #000;
  background-color: #fff;
}
.mainBody .barTop.searchBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #ebebeb;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
}
.mainBody .barTop.searchBar .mleft {
  margin-left: 32px;
}
.mainBody .barTop.searchBar > div {
  display: flex;
  align-items: center;
  padding: 2px;
}
.mainBody .barTop.searchBar > div b {
  font-weight: normal;
}
.mainBody .barTop.searchBar > div select {
  font-family: Exo;
  font-size: 16px;
  height: 30px;
  max-height: 30px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  max-width: 235px;
}
.mainBody h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 750px) {
  .mainBody h1 {
    margin-top: 32px;
    font-size: 18px;
  }
}
@media (min-width: 750.01px) {
  .card {
    box-shadow: -1px 1px 5px rgba(150, 150, 150, 1);
    border: 2px solid #fff;
  }
}
.stars i {
  display: inline-block;
  color: #e2bc00;
  margin: 0;
  margin-left: -4px;
}
.grayForm {
  background: #ebebeb;
  width: 100%;
  padding: 50px 16px 38px 16px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 750px) {
  .grayForm {
    border: 0;
    background-image: url(../images/bt-corner-tl.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
  }
}
.grayForm a {
  color: #00f;
}
.grayForm a:hover {
  color: #009;
}
.grayForm .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 28px;
}
@media (max-width: 750px) {
  .grayForm .title {
    font-size: 18px;
  }
}
.grayForm .form {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 16px;
}
.grayForm .form .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}
.grayForm .form .row > span {
  width: 200px;
  text-align: right;
  flex-grow: 1;
}
@media (max-width: 750px) {
  .grayForm .form .row > span {
    text-align: left;
  }
}
.grayForm .form .row > div {
  flex-grow: 1;
  width: 200px;
  margin-left: 10px;
}
@media (max-width: 750px) {
  .grayForm .form .row > div {
    margin-left: 0;
    margin-bottom: 16px;
  }
}
.grayForm .form .row > div input {
  border: 1px solid #ccc;
  padding: 8px 0 8px 4px;
  font-size: 16px;
  width: 100%;
}
@media (max-width: 750px) {
  .grayForm .form .row > div input {
    border: 0;
    border-bottom: 2px solid #61c56f;
    background: #fff;
  }
  .grayForm .form .row > div input:focus {
    border-bottom: 2px solid #9c754e;
  }
}
.grayForm .form .row .twocols {
  display: flex;
  align-items: center;
}
.grayForm .form .row .twocols span {
  margin-left: 8px;
  font-size: 16px;
}
.grayForm .loginMessage {
  margin-bottom: 16px;
}
.grayForm .loginOptions {
  margin-top: -12px;
  text-align: center;
}
.grayForm .loginOptions div {
  display: inline-block;
  vertical-align: bottom;
  width: 189px;
  height: 32px;
  margin-top: 12px;
}
.grayForm .loginOptions div iframe {
  vertical-align: bottom;
}
.boxActingAs {
  border: 1px solid #009;
  background: #ccf;
  padding: 8px 16px;
  color: #000;
  font-size: small;
  margin-bottom: 16px;
}
.boxActingAs a {
  color: #000;
  font-size: smaller;
  display: inline-block;
  padding: 4px 8px;
  background: #aaf;
  border-radius: 8px;
  text-decoration: none;
}
.statusMessage {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 8px;
}
.statusMessage.success {
  border: 1px solid #61c56f;
  color: #61c56f;
}
.statusMessage.error {
  border: 1px solid #933;
  color: #933;
}
.statusMessage > div {
  margin: 8px 0;
  align-self: flex-start;
  text-align: center;
}
.statusMessage img {
  width: 100%;
  height: auto;
  max-width: 45px;
}
.statusMessage span {
  text-align: left;
  margin-left: 32px;
  font-size: 16px;
}
.greenBox {
  background: #61c56f;
  padding: 30px 16px 24px 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  width: 80%;
}
@media (max-width: 500px) {
  .greenBox {
    width: 100%;
    font-size: 16px;
  }
}
.greenBox .destaque {
  display: inline-block;
  border: 2px solid #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
  margin-bottom: 12px;
  min-width: 250px;
}
.greenBox > span {
  display: block;
}
.btnGreen {
  height: 40px;
  min-width: 205px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  border: 0;
  background: #61c56f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.btnGreen:hover {
  background: #44b954;
  color: #fff;
  margin: 0 auto;
}
.centerMe {
  text-align: center;
}
.linkGray {
  color: #808080;
}
.green {
  color: #61c56f;
}
.red {
  color: #f66;
}
.brown {
  color: #9c754e;
}
.titleOnGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,4c4c4c+100 */
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000 0%, #4c4c4c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000 0%, #4c4c4c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000 0%, #4c4c4c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4c4c4c', GradientType=1);
  /* IE6-9 */
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}
.cadastro .renasemStatus {
  padding-left: 8px;
  font-size: 14px;
  text-align: left;
}
.cadastro .foundRazaoSocial {
  margin-top: 12px;
  margin-bottom: 16px;
  color: #000;
  line-height: 1.25;
}
.cadastro .foundRazaoSocial a {
  font-size: 14px;
}
.cadastro .chooseMethod .intro {
  text-align: left;
}
.cadastro .chooseMethod .loginOptions {
  text-align: center;
}
.cadastro .chooseMethod .loginOptions div {
  display: inline-block;
  vertical-align: bottom;
  width: 189px;
  height: 32px;
  margin-top: 12px;
}
.cadastro .chooseMethod .loginOptions div iframe {
  vertical-align: bottom;
}
.cadastro .chooseMethod .loginOptions #loginWithPassword input {
  width: 189px;
  height: 32px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #888;
  vertical-align: bottom;
  padding-left: 8px;
}
.cadastro .continueLine .acceptTerms {
  font-size: 12px;
  text-align: center;
  max-width: 350px;
  padding-top: 16px;
}
footer.rodape {
  background: #585570;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 28px 16px;
}
footer.rodape .agencia {
  display: none;
}
@media (min-width: 600px) {
  footer.rodape {
    display: flex;
    position: relative;
  }
  footer.rodape .agencia {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 16px;
    display: inline-flex;
    align-items: center;
  }
  footer.rodape .agencia a {
    color: #fff;
    text-decoration: none;
    font-size: small;
  }
}
.dataListHolder {
  position: relative;
}
.dataListSimulator {
  position: absolute;
  z-index: 8;
  left: 0;
  min-width: 258px;
  background: #fff;
  border: 1px solid #333;
  display: none;
  max-height: 400px;
  overflow-y: auto;
}
.dataListSimulator a {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
  white-space: nowrap;
  cursor: pointer;
}
.dataListSimulator a:hover {
  background: #61c56f;
  color: #fff;
}
.dataListSimulator a:last-of-type {
  border-bottom: 0;
}
.bglightgreen {
  background: #e0f4e3 !important;
}
.bglightgray {
  background: #ebebeb !important;
}
.bggreen {
  background: #61c56f !important;
  color: #fff !important;
}
.bgred {
  background: #f66 !important;
  color: #fff !important;
}
.bgyellow {
  background: #ffc !important;
}
.admSimulateBtn {
  padding: 6px 16px;
  margin-right: 16px;
  background: #fff;
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
#admDropUsers {
  position: absolute;
  background: #fff;
  width: calc(100%);
  border: 1px solid #eee;
  z-index: 11;
}
#admDropUsers input {
  padding: 4px 8px;
  width: 100%;
}
#admDropUsers .list {
  max-height: 250px;
  overflow-y: auto;
}
#admDropUsers a {
  padding: 4px 8px;
  border-bottom: 1px dotted #eee;
  color: #333;
  text-decoration: none;
  display: block;
}
#admDropUsers .sel {
  background-color: #cfc;
}
#admDropUsers b, #admDropUsers span {
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/**
 dInput2 - Calendar
 **/
.dpTable {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #505050;
  background-color: #ece9d8;
  border: 1px solid #aaa;
}
.dpTD {
  border: 1px solid #ece9d8;
}
.dpDayHighlightTD {
  background-color: #ccc;
  border: 1px solid #aaa;
}
.dpTDHover {
  background-color: #aca998;
  border: 1px solid #888;
  cursor: pointer;
  color: red;
}
.dpDayTD {
  background-color: #ccc;
  border: 1px solid #aaa;
  color: white;
}
.dpTitleText {
  font-size: 12px;
  color: gray;
  font-weight: bold;
}
.dpDayHighlight {
  color: 4060ff;
  font-weight: bold;
}
.dpButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  background: #d8e8ff;
  font-weight: bold;
  padding: 0px;
}
.dpTodayButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  background: #d8e8ff;
  font-weight: bold;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22template.scss%22%2C%22C%3A%5C%2Fxampp32%5C%2Fhtdocs%5C%2Fconectasementes%5C%2Fapp%5C%2Fcss%5C%2F_base.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAD%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BGAAA%3BACoCC%3BAAAA%3B%3BqBAAA%3BAAAA%3BADjCA%3BAAAA%2CgBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BoBAAA%3BAAAA%3BAAQA%3BAAAA%3B%3B%3B%3B%3BmDAAA%3BAAAA%3BAAMC%3BAAAA%3BAAAA%3B%3BqBAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3B%3B%3BoBAAA%3BAAAA%3BAAMC%3BAAAA%3BAAAA%2CkBAAA%3BAAAA%3BAAAA%3BAAKC%3BAAAA%3B%3BeAAA%3BAAAA%3BAAMD%3BAAAA%3B%3BsBAAA%3BAAAA%3BAAMD%3BAAAA%3B%3BgBAAA%3BAAAA%3BAAIC%3BAAAA%3BAAAA%3BqBAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3B%3BsBAAA%3BAAAA%3BAAKA%3BAAAA%3B%3BsBAAA%3BAAAA%3BAAKA%3BAAAA%3BsBAAA%3BAAAA%3BAAGC%3BAAAA%3BsBAAA%3BAAAA%3BAAUF%3BAAAA%3B%3B%3B4BAAA%3BAAAA%3BAAMA%3BAAAA%3BgBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3BqBAAA%3BAAAA%3BAAMC%3BAAAA%2CiBAAA%3BAAAA%3BAAOH%3BAAAA%3B%3B%3B%3B%3B%3B%3BwBAAA%3BAAAA%3BAAUC%3BAAAA%3BcAAA%3BAAAA%3BAAMD%3BAAAA%3B%3B%3ByBAAA%3BAAAA%3BAAKC%3BAAAA%2CiBAAA%3BAAAA%3BAAGA%3BAAAA%3B%3BcAAA%3BAAAA%3BAAIC%3BAAAA%2CsBAAA%3BAAAA%3BAAMF%3BAAAA%3B%3B%3BeAAA%3BAAAA%3BAAQC%3BAAAA%3B%3B%3B%3B%3B%3BcAAA%3BAAAA%3BAAQC%3BAAAA%2C4BAAA%3BAAAA%3BAAEC%3BAAAA%2C8BAAA%3BAAAA%3BAAMD%3BAAAA%2CiDAAA%3BAAAA%3BAAID%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAAYC%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3BqBAAA%3BAAAA%3BAAcF%3BAAAA%3BeAAA%3BAAAA%3BAAGC%3BAAAA%3BAAAA%2CsBAAA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%2CeAAA%3BAAAA%3BAAEC%3BAAAA%2CsBAAA%3BAAAA%3BAAGA%3BAAAA%3BAAAA%2CkBAAA%3BAAAA%3BAAAA%3BAAMF%3BAAAA%3B%3BgBAAA%3BAAAA%3BAAKC%3BAAAA%3B%3B%3BqBAAA%3BAAAA%3BAAMC%3BAAAA%3BAAAA%3B%3B%3B%3B%3B%3B%3BoDAAA%3BAAAA%3BAAAA%3BAAUA%3BAAAA%3BAAAA%2C8BAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BcAAA%3BAAAA%3BAAKC%3BAAAA%3BAAAA%2CwBAAA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAAOC%3BAAAA%3BoBAAA%3BAAAA%3BAAMF%3BAAAA%3B%3B%3BsBAAA%3BAAAA%3BAAKC%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3BmCAAA%3BAAAA%3BAAWC%3BAAAA%3B%3B%3B%3B%3B%3BoBAAA%3BAAAA%3BAAUE%3BAAAA%2CmBAAA%3BAAAA%3BAAID%3BAAAA%3B%3B%3B%3B%3B%3BaAAA%3BAAAA%3BAAUD%3BAAAA%2CmBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3BwCAAA%3BAAAA%3BAAIC%3BAAAA%2CaAAA%3BAAAA%3BAAIC%3BAAAA%2C2BAAA%3BAAAA%3BAAKF%3BAAAA%2CcAAA%3BAAAA%3BAAEC%3BAAAA%2CcAAA%3BAAAA%3BAAID%3BAAAA%3B%3B%3B%3BkDAAA%3BAAAA%3BAAQD%3BAAAA%3BsBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3B%3BuBAAA%3BAAAA%3BAAOC%3BAAAA%3B%3B%3B%3B%3B%3BoBAAA%3BAAAA%3BAASC%3BAAAA%3B%3B%3B%3BwBAAA%3BAAAA%3BAASD%3BAAAA%2CmBAAA%3BAAAA%3BAAGA%3BAAAA%3BcAAA%3BAAAA%3BAAOH%3BAAAA%3ByBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B6BAAA%3BAAAA%3BAAKC%3BAAAA%3BAAAA%2CiBAAA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%3B%3B%3B%3B%3BiBAAA%3BAAAA%3BAAQA%3BAAAA%3BmBAAA%3BAAAA%3BAAKD%3BAAAA%3B%3B%3B%3BmBAAA%3BAAAA%3BAAOA%3BAAAA%3B%3B%3B%3BgBAAA%3BAAAA%3BAAWH%3BAAAA%3BeAAA%3BAAAA%3BAAGC%3BAAAA%3BAAAA%2CwBAAA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%2CgBAAA%3BAAAA%3BAAEC%3BAAAA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3BoDAAA%3BAAAA%3BAAAA%3BAAaD%3BAAAA%2CsBAAA%3BAAAA%3BAAEC%3BAAAA%3BAAAA%3B%3BoBAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BmBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B2BAAA%3BAAAA%3BAAeC%3BAAAA%3B%3BiEAAA%3BAAAA%3BAAOA%3BAAAA%2CiEAAA%3BAAAA%3BAAGA%3BAAAA%3B%3BiEAAA%3BAAAA%3BAAOA%3BAAAA%2CiEAAA%3BAAAA%3BAAGA%3BAAAA%3ByBAAA%3BAAAA%3BAAOF%3BAAAA%3B%3B%3B%3B%3B%3B%3BcAAA%3BAAAA%3BAASC%3BAAAA%2CoBAAA%3BAAAA%3BAAGA%3BAAAA%3B%3BeAAA%3BAAAA%3BAAIC%3BAAAA%2CsBAAA%3BAAAA%3BAAGA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3BmBAAA%3BAAAA%3BAAcH%3BAAAA%3B%3B%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAASC%3BAAAA%3BAAAA%3BoBAAA%3BAAAA%3BAAAA%3BAAQD%3BAAAA%3BAAAA%3B2BAAA%3BAAAA%3BAAAA%3BAAOA%3BAAAA%3B%3B%3BoBAAA%3BAAAA%3BAAQD%3BAAAA%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAAOC%3BAAAA%3BAAAA%3B%3B%3B%3B%3B%3BoBAAA%3BAAAA%3BAAAA%3BAASA%3BAAAA%2CcAAA%3BAAAA%3BAAEC%3BAAAA%2CcAAA%3BAAAA%3BAAID%3BAAAA%3B%3BsBAAA%3BAAAA%3BAAIC%3BAAAA%3BAAAA%2CoBAAA%3BAAAA%3BAAAA%3BAAID%3BAAAA%3B%3B%3BsBAAA%3BAAAA%3BAAKC%3BAAAA%3B%3B%3B%3BqBAAA%3BAAAA%3BAAMC%3BAAAA%3B%3BeAAA%3BAAAA%3BAAIC%3BAAAA%3BAAAA%2CqBAAA%3BAAAA%3BAAAA%3BAAID%3BAAAA%3B%3BoBAAA%3BAAAA%3BAAIC%3BAAAA%3BAAAA%3BwBAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BcAAA%3BAAAA%3BAAKC%3BAAAA%3BAAAA%3B%3BqBAAA%3BAAAA%3BAAIC%3BAAAA%2CqCAAA%3BAAAA%3BAAAA%3BAAOH%3BAAAA%3BsBAAA%3BAAAA%3BAAGC%3BAAAA%3BkBAAA%3BAAAA%3BAAOH%3BAAAA%2CsBAAA%3BAAAA%3BAAGA%3BAAAA%3BqBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3BmBAAA%3BAAAA%3BAAMC%3BAAAA%2CyBAAA%3BAAAA%3BAAOH%3BAAAA%3B%3B%3B%3B%3BsBAAA%3BAAAA%3BAAOC%3BAAAA%3B%3B%3B%3B%3B%3BwBAAA%3BAAAA%3BAAWD%3BAAAA%3B%3B%3B%3B%3BeAAA%3BAAAA%3BAAQC%3BAAAA%3BiBAAA%3BAAAA%3BAAIA%3BAAAA%3BcAAA%3BAAAA%3BAAIA%3BAAAA%3B%3BqBAAA%3BAAAA%3BAAKA%3BAAAA%3B%3BkBAAA%3BAAAA%3BAAKA%3BAAAA%3B%3BkBAAA%3BAAAA%3BAAOD%3BAAAA%3B%3B%3B%3B%3B%3B%3BaAAA%3BAAAA%3BAASC%3BAAAA%3BAAAA%3BoBAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B%3B%3B%3BmBAAA%3BAAAA%3BAASA%3BAAAA%2CiBAAA%3BAAAA%3BAAKD%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BwBAAA%3BAAAA%3BAAeC%3BAAAA%3B%3BiBAAA%3BAAAA%3BAAOD%3BAAAA%2CqBAAA%3BAAAA%3BAAIA%3BAAAA%2CiBAAA%3BAAAA%3BAAIA%3BAAAA%2CiBAAA%3BAAAA%3BAAIA%3BAAAA%2CcAAA%3BAAAA%3BAAIA%3BAAAA%2CiBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BqBAAA%3BAAAA%3BAAkBC%3BAAAA%3B%3BmBAAA%3BAAAA%3BAAKA%3BAAAA%3B%3B%3BoBAAA%3BAAAA%3BAAKC%3BAAAA%2CkBAAA%3BAAAA%3BAAKA%3BAAAA%2CmBAAA%3BAAAA%3BAAGA%3BAAAA%2CqBAAA%3BAAAA%3BAAEC%3BAAAA%3B%3B%3B%3BmBAAA%3BAAAA%3BAAMC%3BAAAA%2CyBAAA%3BAAAA%3BAAKA%3BAAAA%3B%3B%3B%3B%3B%3BoBAAA%3BAAAA%3BAAcF%3BAAAA%3B%3B%3BoBAAA%3BAAAA%3BAAUD%3BAAAA%3B%3B%3B%3BqBAAA%3BAAAA%3BAAOC%3BAAAA%2CgBAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BuBAAA%3BAAAA%3BAAGC%3BAAAA%3B%3B%3B%3B%3B%3BwBAAA%3BAAAA%3BAAQC%3BAAAA%3B%3BqBAAA%3BAAAA%3BAAAA%3BAAUJ%3BAAAA%2CqBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B%3B%3B%3B%3B%3BmBAAA%3BAAAA%3BAAWC%3BAAAA%3B%3B%3B%3BkBAAA%3BAAAA%3BAAMC%3BAAAA%3BcAAA%3BAAAA%3BAAIA%3BAAAA%2CmBAAA%3BAAAA%3BAAMF%3BAAAA%2CiCAAA%3BAAAA%3BAAIA%3BAAAA%2CiCAAA%3BAAAA%3BAAIA%3BAAAA%3ByBAAA%3BAAAA%3BAAKA%3BAAAA%3ByBAAA%3BAAAA%3BAAKA%3BAAAA%2C8BAAA%3BAAAA%3BAAKA%3BAAAA%3B%3B%3B%3B%3B%3BcAAA%3BAAAA%3BAAUA%3BAAAA%3B%3B%3B%3BcAAA%3BAAAA%3BAAQA%3BAAAA%3BcAAA%3BAAAA%3BAAKA%3BAAAA%3BmBAAA%3BAAAA%3BAAMA%3BAAAA%3B%3B%3B%3BiBAAA%3BAAAA%3BAAQA%3BAAAA%2CyBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B0BAAA%3BAAAA%3BAAp8BD%3B%3BIAAA%3BAA%2B8BC%3BAAAA%3B%3B%3B%3B%3ByBAAA%3BAAAA%3BAAYA%3BAAAA%2C4BAAA%3BAAAA%3BAAGA%3BAAAA%3ByBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3BaAAA%3BAAAA%3BAASA%3BAAAA%3B%3BeAAA%3BAAAA%3BAAKA%3BAAAA%3B%3BoBAAA%3BAAAA%3BAAKA%3BAAAA%3BoBAAA%3BAAAA%3BAAIA%3BAAAA%3B%3B%3B%3B%3BeAAA%3BAAAA%3BAAQA%3BAAAA%3B%3B%3B%3BoBAAA%3BAAAA%22%7D */